<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424125149466-5ncvthf7lj936ts5bo528tuouauglvjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424125149466-5ncvthf7lj936ts5bo528tuouauglvjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCXZ96RFZKzni_mLAq21ZSvc7ZRZDNK8q8</string>
	<key>GCM_SENDER_ID</key>
	<string>424125149466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handyman.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>handyman-4320f</string>
	<key>STORAGE_BUCKET</key>
	<string>handyman-4320f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424125149466:ios:188693ebddee1c9fe47ca3</string>
</dict>
</plist>